{% load staticfiles %}   
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Repo Tracker</title>
        <link rel='stylesheet' href='{% static 'bootstrap/dist/css/bootstrap.css' %}' />
        <script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
        <script type="text/javascript" src='{% static 'bootstrap/dist/js/bootstrap.js' %}'></script>
    </head>
    
    <body style="padding-top: 85px;">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">RepoTracker</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><div class="navbar-text">Hello {{ user }}!</div></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            {% if message %}
            <div class="row">
                <div class="alert alert-{{ message_type }} col-lg-4 col-lg-offset-4 text-center">{{ message | safe }}</div>
            </div>
            {% endif %}
            <form action="{% url 'home' %}" method="post" class="row" style="padding: 15px 0 25px 0;">
                {% csrf_token %}
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="input-group input-group-lg">
                        <label for="url" class="sr-only">Github Repo URL</label>
                        <input type="text" name="url" id="url" class="form-control input-lg" placeholder="Repo URL to Track..." />
                        <span class="input-group-btn">
                            <input type="submit" value="Add" class="btn btn-primary btn-lg" />
                        </span>
                    </div>
                </div>
            </form>

            {% if current_repos %}
            <h3>Repos being tracked:</h3>
            <ul>
                {% for repo in current_repos %}
                <li><a href="#">{{ repo.name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No repos.</p>
            {% endif %}
        </div>
    </body>
</html>
